package-manager=pnpm
strict-peer-dependencies=true
auto-install-peers=false
shared-workspace-lockfile=true
virtual-store-dir=.pnpm
save-exact=false
registry=https://registry.npmjs.org/
prefer-offline=true 
loglevel=error 
symlink=true
node-linker=hoisted
unsafe-perm=true